/* Generated classes! Don't edit! */

.sprite-services-left-img {
    display: block;
    width: 270px;
    height: 277px;
    background: url("/static/img/sprites.png") 0 0;
}

.sprite-benefits-icon-plagiarism-free {
    display: block;
    width: 130px;
    height: 130px;
    background: url("/static/img/sprites.png") -272px 0;
}

.sprite-benefits-icon-safe {
    display: block;
    width: 139px;
    height: 130px;
    background: url("/static/img/sprites.png") -272px -132px;
}

.sprite-benefits-icon-money-back {
    display: block;
    width: 153px;
    height: 91px;
    background: url("/static/img/sprites.png") 0 -279px;
}

.sprite-benefits-icon-paypal {
    display: block;
    width: 153px;
    height: 86px;
    background: url("/static/img/sprites.png") -155px -279px;
}

.sprite-step-4-icon {
    display: block;
    width: 59px;
    height: 70px;
    background: url("/static/img/sprites.png") -310px -279px;
}

.sprite-icon-skype-white {
    display: block;
    width: 20px;
    height: 20px;
    background: url("/static/img/sprites.png") -371px -279px;
}

.sprite-icon-skype {
    display: block;
    width: 18px;
    height: 18px;
    background: url("/static/img/sprites.png") -393px -279px;
}

.sprite-icon-sosial-white {
    display: block;
    width: 20px;
    height: 20px;
    background: url("/static/img/sprites.png") -371px -301px;
}

.sprite-icon-sosial {
    display: block;
    width: 18px;
    height: 18px;
    background: url("/static/img/sprites.png") -393px -301px;
}

.sprite-step-3-icon {
    display: block;
    width: 52px;
    height: 68px;
    background: url("/static/img/sprites.png") 0 -372px;
}

.sprite-step-1-icon {
    display: block;
    width: 45px;
    height: 56px;
    background: url("/static/img/sprites.png") -54px -372px;
}

.sprite-step-2-icon {
    display: block;
    width: 59px;
    height: 54px;
    background: url("/static/img/sprites.png") -101px -372px;
}

.sprite-paypal-banner-mini {
    display: block;
    width: 170px;
    height: 53px;
    background: url("/static/img/sprites.png") -162px -372px;
}

.sprite-reviews-icon {
    display: block;
    width: 70px;
    height: 27px;
    background: url("/static/img/sprites.png") -334px -372px;
}

.sprite-customers-banner-mini {
    display: block;
    width: 170px;
    height: 44px;
    background: url("/static/img/sprites.png") 0 -442px;
}
